
@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Dashcss/dashboard.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    @*@Styles.Render("~/Content/Dashboard")*@
    @*@Scripts.Render("~/bundles/jquery")*@
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content1/Dashcss/shivani/css">
    <link href="~/Content/snewcss.css" rel="stylesheet" />
    <script>
        function getcustdetails() {
            debugger;
            window.location.href = '/AdminLogin/CustDetails';
        }
        function getApprove() {
            debugger;
            window.location.href = '/AdminLogin/ApproveCustDetails';
        }
        function getJointApprove(){
            debugger;
            window.location.href = '/AdminLogin/ApproveJointCustDetails';
        }
        function getRejectdetails() {
            debugger;
            window.location.href = '/AdminLogin/RejectCustDetails';
        }
         function getAccHistory() {
            debugger;
            window.location.href = '/AdminLogin/ApproveCustAccDetails';
        }
                function getJointDAta() {
            debugger;
            window.location.href = '/AdminLogin/JointDetails';
        }
    </script>
    <script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;
                var links = this.el.find('.link');
                links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
            }
            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();
                $next.slideToggle();
                $this.parent().toggleClass('open');
                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                };
            }
            var accordion = new Accordion($('#accordion'), false);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.msg' != null && '@ViewBag.msg' != '') {

                swal('@ViewBag.msg');
            }
        });
    </script>
     <script>
        function Home(){
           window.location.href = '/AdminDashBoardNew/IndoFinAdminDashBoard'; 
        }
        </Script>
    <style>
    .icndsgn{
    color: white;
    display: flex;
    justify-content: center;
     font-size: 42px;
    padding: 10px;
    }
    .bxdsgn{
        border: 1px solid #d467d4;
    background-color: #d467d4;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 9px;
    padding-left: 3px;
    padding-right: 0px;
    }
    .bxtext{
           color: white;
    font-weight: 700;
    font-size: 14px;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
        padding: 6px;
            margin-top: 6px;
    }
    .numdt{
        color: white;
    font-weight: 700;
    font-size: 25px!important;
    text-align: center;
    }
    .bxdsply{
            display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .bxtext2{
            width: 62%;
    margin-right: 0px;
    margin-left: -1px;
    display: flex;
    padding-left: 18px;
    justify-content: center;
    }
    .bxdsgn2{
            display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }
        .bxdsgn3{
            padding: 15px 40px;
            background-color: #87cb94;
        }
        .bxtext3{
             width: 101%;
         }
         .bxdsgn4{
            width: 15%;
         }
             .bxdsgn4:hover{
                background: linear-gradient(130deg, #4b7bd0 0%, #84a9ea 100%);
                box-shadow: none;
             }
             .bxdsgn3:hover{
                 background: linear-gradient(130deg, #4b7bd0 0%, #84a9ea 100%);
                 box-shadow: none;
             }
        </style>
         <style>
        .init_a_nav:hover{
            background: #d55959;
            transition: ease-in-out 0.3s;
        }
        .init_href {
            font-size: 16px;
            padding: 5px 12px;
            color: #fff !important;
            cursor: pointer;
        }

            .init_href:hover {
                border-radius: 3px;
                transition: all 0.4s ease;
            }
    </style>
    <link href="~/css/multiclass.css" rel="stylesheet" />
</head>
<body>
    <section class="breadcrumbs" style="DISPLAY: NONE;">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <h3 style="color:#fff;font-size:20px">Dashboard</h3>
            </div>
        </div>
    </section>

    <section id="dashboard-menu" style="padding:0!important">
        <div class="dashboard-menu">
            <div class="" id="navbarSupportedContent" style="font-size: 15px;display: flex;align-items: center;padding: 12px;">
                <div class="container-fluid">
                   <h3 style="color:#fff;font-size:20px;margin-bottom: 0;">Dashboard</h3>
                </div>
                <div style="display: flex;flex-direction: row;">
                    <a class="init_href" style="" href="#" onclick="Home()">Home</a>
                    <a class="init_href" style="margin-left: 15px;" href="#" onclick="LogOut()">Logout</a>
                </div>
            </div>
        </div>
    </section>




    <section id="dashboard-menu" style="display:none">
        <div class="container-fluied">
            <div class="row" style="margin:0%">
                <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-menu" style="padding: -0.4rem 1rem !important;">
                    <button class="navbar-toggler posmob" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 15px;">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 style="color:#fff;font-size:20px;margin-bottom: 0;">Dashboard</h3>
                            </div>
                        </div>
                        @*<ul class="navbar-nav mr-auto" style=" ">
                            <li class="nav-item" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;margin-left: 10px;" >
                                <a class="nav-link" href="#">Digital KYC</a>
                            </li>
                            <li class="nav-item" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;margin-left: 10px;" >
                                <a class="nav-link" href="#">Digital KYC</a>
                            </li>
                            <li class="nav-item" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;margin-left: 10px;" >
                                <a class="nav-link" href="#">Data Verification</a>
                            </li>
                            <li class="nav-item" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;margin-left: 10px;" >
                                <a class="nav-link" href="#">Update Digital KYC Data</a>
                            </li>
                        </ul>*@
                        <form class="form-inline my-2 my-lg-0" style="margin-right: 16px;">
                            <a class="nav-link" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;border: 1px solid rgba(255,255,255,0.1);" href="#" onclick="Home()">Home</a>
                        </form>
                        <form class="form-inline my-2 my-lg-0">
                            <a class="nav-link" style="box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;border: 1px solid rgba(255,255,255,0.1);" href="#" onclick="LogOut()">Logout</a>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <div class="containerrw">
        <div class="box" id="cdetails" onclick="getcustdetails()">
            <div class="boxContent">
                <i class="fa fa-file-text icon"></i>
                <div class="nocon numdt">@ViewBag.PendingCnt</div>
                <h1 class="title">Pending No. of Accounts</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="box1" id="cdetails" onclick="getApprove()">
            <div class="boxContent">
                <i class="fa fa-check-circle icon"></i>
                <div class="nocon numdt">@ViewBag.approveCnt</div>
                <h1 class="title">No. of Approved Accounts(Single)</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
               <div class="box3 admnbox bxdsgn bx" id="JointPendingdetails" onclick="getJointDAta()">
            <div class="boxContent bxdsply">
                <i class="fa fa-check-circle icon icndsgn"></i>
                <div class="nocon numdt">@ViewBag.PendingJointCount</div>
                <h1 class="title adfntsz bxtext bxtext2 bxtext3">pending no. of joint Account</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="box box3" style="background-color: #d467d4!important;"  id="cdetails" onclick="getJointApprove()">
            <div class="boxContent bxdsply">
                <i class="fa fa-check-circle icon icndsgn"></i>
               <div class="nocon numdt">@ViewBag.JointCount</div>
                <h1 class="title">No. of Approved Accounts(Joints)</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="box2" id="cdetails" onclick="getRejectdetails()">
            <div class="boxContent">
                <i class="fa  fa-ban icon"></i>
                <div class="nocon numdt">@ViewBag.rejectCnt</div>
                <h1 class="title">Rejected Customer</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="box box3" style="background-color: #87cb94!important;" id="cdetails" onclick="getAccHistory()">
            <div class="boxContent bxdsply">
                <i class="fa fa-check-circle icon icndsgn"></i>
                <div class="nocon numdt">@ViewBag.approveCnt</div>
                <h1 class="title">Accounts History</h1>
            </div>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>
    <div id="orgregresult"></div>
    <ul id="list"></ul>
    <p style="border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    border-bottom: 1pxsol;
    font-size: 14px;
    margin-top: 54px;
    padding: 9px 0;
color: #2c4964;">© Indo-FinNet. All Rights Reserved  <a href="www.indofinnet.co.in" style="color:color: #2c4964;">Visit us at www.indofinnet.co.in</a></p>
</body>
</html>

